<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.DB_VOTACIONONLINEConnectionString"
            connectionString="Data Source=DESKTOP-CREDOOS\SQLEXPRESS;Initial Catalog=DB_VOTACIONONLINE;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>